<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="keywords" content="html,web前端开发,wxy的简历,javascript">
    <meta name="description" content="王祥宇个人简历,学习经验交流">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <title>Title</title>
    <script src="js/angular.min.js"></script>
    <link href="css/set.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="myapp" ng-controller="myctrl">

<section>
    <div class="t_s_top">
        <p>Tips</p>
        <hr>
    </div>
    <div class="t_down">
        <ul ng-repeat="x in str|mySplice:nowpage*pagesize:pagesize" class="guestbook">
            <li class="guestbook_id"><span>序号</span>：{{x.id}}</li>
            <li class="guestbook_name"><span>来自</span>:{{x.name}}</li>
            <li class="guestbook_time clearfix"><span>时间</span>：{{x.time}}</li>
            <li class="guestbook_content"><span>留言</span>:{{x.content}}</li>
        </ul>
        <button class="btn btn-primary" ng-click="nowpage=0">首页</button>
        <button class="btn btn-danger" ng-click="nowpage=nowpage-1" ng-disabled="nowpage==0">上一页</button>
        <button class="btn btn-default">{{nowpage+1}}/{{allpage+1}}</button>
        <button class="btn btn-danger" ng-click="nowpage=nowpage+1" ng-disabled="nowpage==allpage">下一页</button>
        <button class="btn btn-primary" ng-click="nowpage=allpage">尾页</button>
    </div>

    <div class="t_content">
        <form name="form1" action="http://wwxxyy.duapp.com/wxy/login.php" method="get" onsubmit="return fun1()">
            <div class="t_content_name">
                <label for="name">昵称:</label>
                <input type="text" id="name" class="t_content_name_1" name="name" required>
            </div>
            <div class="t_content_main">
                <input id="content" class="t_content_name_2" name="content" placeholder="请留下你的寄语" required>
            </div>
            <button type="submit" class="t_content_submit">提交</button>
        </form>
    </div>
</section>

<script>
    var app = angular.module("myapp", []);
    app.controller("myctrl", function ($scope, $http) {
        $http.get("http://wwxxyy.duapp.com/wxy/get.php").success(function (response) {
            $scope.str = response;
//            $scope.str1=JSON.parse(response)
        })
    })


</script>


<script src="js/jquery.min.js"></script>
<script src="js/config.js"></script>
</body>
</html>